
@{
    ViewData["Title"] = "Gallery";
}
<style>
    body{
        background: rgb(225,255,251);
        background: linear-gradient(90deg, rgba(225,255,251,1) 0%, rgba(152,216,242,1) 100%);
    }
    .GalleryImages{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        padding:10px;
        background: rgb(112,200,240);
        background: linear-gradient(90deg, rgba(112,200,240,1) 65%, rgba(228,251,255,1) 100%);
    }
    .GalleryImages img{
        width:350px;
        border-radius:3%;
     
       
    }
    h1{
        font-family:cursive;
        font-size:50px;
    }
    .GalleryImages img:hover{
                box-shadow: 0 0 5px 1px #333333;
        }
</style>
<center><h1>Галерия със снимки от масажното студио</h1></center>
<hr />
<div class="GalleryImages">
    <img src="https://imgrabo.com/pics/deals/16969239014862.jpg" />
    <img src="https://www.massageliegenhaus.com/media/image/7e/32/d8/Praxis-ambiente-AthenaAbFgjMqmMgG2S.jpg" />
    <img src="https://massage-dubrovnik.com/wp-content/uploads/2021/06/Motion-massage-studio-Dubrovnik-by-Ivan.jpg" />
</div>
<div class="GalleryImages">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjlrOlAIL8PKe_CHNJvmN1MdRXeFkePCdFURD0vzd7rQ&s" />
    <img src="https://cdn1.treatwell.net/images/view/v2.i7821224.w1080.h720.x1A7D9593/" />
    <img src="https://assets-global.website-files.com/6022b8f7186c4b0f024af3af/64132d24f33ac974bd1036ac_massageType.webp" />
</div>
<div class="GalleryImages">
    <img src="https://studio24.bg/pictures/studios/9/9326/thumbs/0x346/55705.jpg" />
    <img src="https://www.oink.bg/_next/image?url=https%3A%2F%2Fcdn.oink.bg%2Fgallery%2F19821%2F362e2fb1-0704-44e4-8f16-1963548ee1fe_large.webp&w=3840&q=75" />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Wa_K4y94HTElQK-cMvAGHF8pNNx2nMewr2_RWcrFoA&s" />
</div>
