@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="HomeSnimka">
        <img src="https://i.pinimg.com/originals/d8/64/52/d86452be442a1b9aae44e7c4e1451dbc.jpg" />
        <p>
            Добре дошли в масажно студио „Solaris“
        </p>
    </div>
</div>
<hr />
<center><h1>За нас</h1></center>
<div id="ZaNas">
    <div class="ZaNasSnimka">
        <img src="https://studio24.bg/pictures/studios/9/9326/thumbs/0x630/55704.jpg" />
    </div>
    <div class="ZaNasTxt">
        <p>
            Масажно студио „Solaris“ ви предлага обилно количество разнообразни масажи и услуги, с които
            да се потопите в невероятно изживяване на актрактивни за всички цени! Ние разполагаме с екип от
            професионалисти, които имат дългогодишен опит и те ще ви предразположат да се почувствате
            уникално. Студиото ни разполага с висококачествена апаратура от ново поколение и подновени 
            зали за масажи и спа процедури. Елате и заповядайте при нас, намираме се на адрес: 
            град Пловдив, ул. „Иван Петров No 28“. 
        </p>
    </div>
</div>